*{
  font-family: "Comic Sans ms";
}

#left {
  margin-right: 0px;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 190px;
    background-color: #F7E29C;
    overflow: auto;
    overflow-y: scroll;
}

#main {
    margin-left: 200px;
    min-height: 100%;
    height: auto;
    background-color: #8B4B62;
    text-align: center;
}
